/*

*/
body{
    font-size: 16pt;
}
#navbar{
    width: 100%;
    padding: 10px 0px;
    font-size: 1.4em;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
#btnRegular{
    float: left;
}
#btnPremium{
    float: right;
}
button{
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: large;
}
#container{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
}
/* #instructions{
    position: relative;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
} */
#map{
    position: relative;
    height: 650px;
    width: 95%;
    max-width: 500px;
    margin: 15px auto;
    padding: 0px 10px;
    /* visibility: hidden; */
/* }
#directions{
    position: relative;
    height: auto;
    width: 90%;
    max-width: 320px;
    margin: 15px auto;
    padding: 10px 10px;
    visibility: hidden;
} */
/* 
#map-canvas {
    height: 500px;
    width: 100%
} */

#origin-input,
      #destination-input{
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 28px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }
      
       #origin-input:focus,
      #destination-input:focus,
      #btnBook: focus{
        border-color: #4d90fe;
      }
      
    