img {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}

#container {
    margin: 6px;
}

#btnLocation {
    display: none;
}

#map-canvas {
    height: 500px;
    width: 100%
}

#btnWhereto {
    background-color: Transparent;
    padding: 5px;
    width: 250px;
    border: none;
    outline:none;
}

#floating-panel {
    position: absolute;
    top: 150px;
    left: 15%;
    z-index: 5;
    background-color: #fff;
    padding: none;
    text-align: center;
    font-family: 'Calibiri','sans-serif';
}

            #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      .controls_btn {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        height: 32px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input{
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 28px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #btnRegular{
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 125px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 115px;
      }

      #btnPremium {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 125px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 115px;
      }

      #origin-input:focus,
      #destination-input:focus,
      #btnBook: focus{
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }