	.container{
		padding-top:10px;
		color: gray;
	}
	.driver-container{
		padding:20px;
	}
	.driver-thumb  {
		float: left;
		margin:10px;
	}
	.driver-thumb img {
		display: block;

	}

	.driver-content {
        float: left;
		margin:10px;
	}



	#driver tr	{
		 font-size:20px;

	}

	#driver tr .driver_name	{
		font-size:30px;
		color: #404040;
	}

	.trip-container{
		padding:10px;
		margin:5px;
	}

	.trip-container #trip thead tr img{
		height: 50px;
		width: 50px;
	}
	.trip-container #trip tbody tr {
		text-align: center;
		color: #404040;
	}




	 #btnCancelBooking {
        margin:auto;
		display: block;
		font-size: 24px!important;
	    border-radius: 4px;
		background-color: #f44336!important;
		width: 90%;
		text-align:center;
		padding: 8px 16px;
		vertical-align: middle;
		color: #fff!important;
	}


	/* style='padding-left: 5px;padding-bottom:3px; font-size:35px;font-family: Arial, Helvetica, sans-serif' */

	/* img.small { */
	/* width: 75px; */
	/* height: 75px; */
	/* } */
	/* img.medium { */
	/* width: 100px; */
	/* height: 100px; */
	/* } */
	/* #trip */
	/* {text-align:center; */
	 /* margin:100px; */
	 /* padding:50px; */

	/* } */
